.app.dark {
  --bg-color: #030338;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04e304;

  --inverted-primary-color: #022b22;
  --inverted-secondary-color: #0449e0;
}