.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #030338;

  --primary-color: #022b22;
  --secondary-color: #0449e0;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04e304;
}