@import "reset";
@import "src/styles/variables/gloabal";
@import "src/styles/themes/light";
@import "src/styles/themes/dars";

.app {
  font       : var(--font-m);
  background : var(--bg-color);
  color      : var(--primary-color);

  min-height : 100vh;
}